<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css" integrity="sha512-mR/b5Y7FRsKqrYZou7uysnOdCIJib/7r5QeJMFvLNHNhtye3xJp1TdJVPLtetkukFn227nKpXD9OjUc09lx97Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="container mt-2 mb-2">
    <div class="container mt-5 mb-3">
        <div class="container d-flex justify-content-around">
            <div class="row">

                <div id="divKeyWord" class="input-group mb-3">
                    <input id="keyword" type="text" class="form-control" placeholder="Recherche par mot clé" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button id="searchKeyWords" class="btn btn-outline-secondary" type="button">Rechercher</button>
                    </div>
                </div>

                <div class="col">
                    <select id="select-caracteristique" class="selectpicker" aria-label="select caractéristique">
                        <option selected value="null">Sélectionner un caractéristique de pathologie</option>
                        <option value="plein">Plein</option>
                        <option value="vide">Vide</option>
                        <option value="chaud">Chaud</option>
                        <option value="froid">Froid</option>
                        <option value="interne">Interne</option>
                        <option value="externe">Externe</option>
                    </select>
                </div>
                <div class="col">
                    <select id="select-pathologie" class="selectpicker" aria-label="select pathologie">
                        <option selected value="null">Sélectionner un type de pathologie</option>
                        <option value="méridien">Méridien</option>
                        <option value="null">Organe/viscère</option>
                        <option value="luo">Luo</option>
                        <option value="null">Merveilleux vaisseaux</option>
                        <option value="jing jin">Jing jin</option>
                    </select>
                </div>
                <div class="col">
                    <select id="select-meridiens" class="selectpicker" multiple aria-label="select meridiens" multiple></select>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-2 mb-2">
        <table id="table"></table>
    </div>
</div>
