<div>
    <header class="py-5 bg-image-full" style="background: center no-repeat url('../asset/images/background.jpg')">
        <div class="text-center my-5">
          <img class="img-fluid rounded-circle mb-4" src="../asset/images/logo2.png" alt="Logo ying yang" />
          <h1 class="text-white fs-3 fw-bolder">Bienvenue sur notre site d'acupuncture</h1>
        </div>
      </header>
      <div class="nav-margin">
        
        
        <div >
          <h1>Accueil</h1>
        </div>
        
        <div class="media">
          <!-- <img class="mr-3" src="..." alt="Generic placeholder image"> -->
          <iframe width="420" height="315" src="../asset/videos/pres.mp4"></iframe> 
          <div class="media-body div-accueil-margin-top">
            <h5 class="mt-0">L'acupuncture chinoise</h5>
            Branche de la médecine chinoise traditionnelle consistant à piquer avec des aiguilles en des points précis de la surface
            du corps d'un patient pour soigner différentes maladies ou provoquer un effet analgésique.
          </div>
          
          
          
        </div>
        
        
        <div class="card-group">
          <div class="card border-dark mx-auto text-center" style="margin:2%; border: #21081a solid 1px; max-width: 18rem;">
            <div class="card-header">Alexis Migewant</div>
            <div class="card-body text-dark">
              <h5 class="card-title">API Developper</h5>
              <p class="card-text">J'ai principalement fait la partie API</p>
            </div>
          </div>
          <div class="card border-dark mx-auto text-center" style="margin:2%; border: #21081a solid 1px; max-width: 18rem;">
            <div class="card-header">Yoann Robinet</div>
            <div class="card-body text-dark">
              <h5 class="card-title">Server Developper</h5>
              <p class="card-text">J'ai principalement fait la partie Server et Authenification</p>
            </div>
          </div>
          <div class="card border-dark mx-auto text-center" style="margin:2%; border: #21081a solid 1px; max-width: 18rem;">
            <div class="card-header">Clément Bourdier</div>
            <div class="card-body text-dark">
              <h5 class="card-title">Front Developper</h5>
              <p class="card-text">J'ai principalement fait la partie Front</p>
            </div>
          </div>
        </div>
      </div>
      
      
      
      <!-- Footer -->
      <footer class="text-center text-white bg-light navbar-light fixed-bottom" >
        
        <!-- Copyright -->
        <div class="text-center p-3 navbar-brand" >
          © 2021 Copyright Tidal
        </div>
        <!-- Copyright -->
      </footer> 
</div>